:root {
    --gray-100: #fafaf9;
    --gray-200: #e4e0df;
    --gray-300: #d6d2d1;
    --gray-400: #646464;
    --gray-500: #222020;
    --purple-100: #730641;
    --white: #ffffff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
    -webkit-font-smoothing: antialiased;
}
